.App {
  /* padding-left: calc(50% - 500 / 2);
  padding-right: calc(50% - 500 / 2); */
  margin-top: 200px;
  text-align: center;
}

.wrap {
  display: flex;
  justify-content: center;

}

.wrapTodoList {
  display: flex;
  justify-content: center;
}

.bloc {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.list {
  width: 200px;
  margin: 0 auto;
}